---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Creative HQ Labs</title>
        <meta name="description" content="Just a test"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/font.css">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>
        <main>
            <section class="">
                <div class="container valign-wrapper full-height">
                    <div class="row valign">
                        <div class="col s12">
                            <div id="neon-chq" class="svg-wrapper">
                                <svg class="neon tube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                                    {% include chq-paths.html %}
                                </svg>
                                <svg class="neon light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                                    <defs>
                                        <filter x="-50%" y="-50%" width="1000%" height="1000%" id="drop-shadow">
                                            <feGaussianBlur stdDeviation="3"/>
                                        </filter>
                                    </defs>
                                    {% include chq-paths.html %}
                                </svg>
                            </div>
                        </div>
                        <div class="col s12">
                            <div id="neon-labs" class="svg-wrapper">
                                <svg class="neon tube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                                    {% include labs-paths.html %}
                                </svg>
                                <svg class="neon light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                                    <defs>
                                        <filter x="-50%" y="-50%" width="1000%" height="1000%" id="drop-shadow">
                                            <feGaussianBlur stdDeviation="3"/>
                                        </filter>
                                    </defs>
                                    {% include labs-paths.html %}
                                </svg>
                            </div>
                        </div>
                        <div class="col s12">
                            <div id="neon-arrow" class="svg-wrapper">
                                <svg class="neon tube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                                    {% include arrow-paths.html %}
                                </svg>
                                <svg class="neon light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                                    <defs>
                                        <filter x="-50%" y="-50%" width="1000%" height="1000%" id="drop-shadow">
                                            <feGaussianBlur stdDeviation="3"/>
                                        </filter>
                                    </defs>
                                    {% include arrow-paths.html %}
                                </svg>
                        </div>
                    </div>
                    <!-- 263.533 -->
                    <!-- 205.734 -->
                </div>
                </div>
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>