---
layout: default
title: Submission Received - Creative HQ Labs
description: Entrepreneurs Wanted - We're on the hunt for skilled specialists to join us in building the future of business in New Zealand.
---

<section class="">
    <div class="container valign-wrapper full-height">
        <div class="row spaced valign">
            <div class="col s12">
                <div id="neon-chq" class="svg-wrapper">
                    <svg class="neon tube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                        {% include thanks-paths.html %}
                    </svg>
                    <svg class="neon light" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 675 97.211">
                        <defs>
                            <filter x="-50%" y="-50%" width="1000%" height="1000%" id="drop-shadow">
                                <feGaussianBlur stdDeviation="3"/>
                            </filter>
                        </defs>
                        {% include thanks-paths.html %}
                    </svg>
                </div>
                <p class="center-align">We'll be in touch shortly :)</p>
            </div> 
        </div>
    </div>
</section>