<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}"/>

        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="http://labs.creativehq.co.nz/img/chq-labs-facebook.jpg" />

        <link rel="shortcut icon" href="/favicon.ico"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
    </head>
    <body>
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="container">
                <a href="http://creativehq.co.nz">&copy; Creative HQ 2016</a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>